@charset "UTF-8";
/* line 8, ../scss/styles/_call-to-action-global.scss */
.bean-stanford-call-to-action .group-s-cta-image-style {
  position: relative;
  text-align: center;
}
/* line 13, ../scss/styles/_call-to-action-global.scss */
.bean-stanford-call-to-action .group-s-cta-image-style .field-name-field-s-cta-image:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.5;
}
/* line 24, ../scss/styles/_call-to-action-global.scss */
.bean-stanford-call-to-action .group-s-cta-image-style .field-name-field-s-cta-image img {
  width: 100%;
}
/* line 29, ../scss/styles/_call-to-action-global.scss */
.bean-stanford-call-to-action .group-s-cta-image-style .field-name-field-s-cta-icon {
  color: #ffffff;
  font-size: 100px;
  position: absolute;
  top: 40%;
  width: 100%;
}
/* line 38, ../scss/styles/_call-to-action-global.scss */
.bean-stanford-call-to-action .group-s-cta-title-style {
  text-align: center;
  padding: 30px 30px 40px;
  background: #e9e6df;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
/* line 44, ../scss/styles/_call-to-action-global.scss */
.bean-stanford-call-to-action .group-s-cta-title-style h2 {
  margin-bottom: 0;
}
