html.js div.hero-curtain {
  position: relative;
  z-index: 10;
}
html.js div.hero-curtain a {
  z-index: 20;
}
html.js div.hero-curtain.below-hero {
  margin-bottom: 0 !important;
}
html.js div.hero-curtain .player {
  padding-bottom: 0;
  height: auto;
}
html.js div.hero-curtain img.stretch-vertical {
  height: 100%;
  width: auto;
  max-width: none;
  position: relative;
}
html.js div.hero-curtain img.stretch-horizontal {
  width: 100%;
}
html.js div.hero-curtain iframe {
  width: 100%;
  height: 100%;
  position: relative;
}
html.js div.hero-curtain .entity-paragraphs-item {
  margin-bottom: 0;
}
html.js .hero-reveal {
  position: fixed;
  top: 0;
  width: 100%;
}
html.js .hero-reveal.below-hero {
  position: relative;
}
